@model Store.Models.Stores.StoreRoom.EquipmentHasPropertyModel
@{
    ViewBag.Title = "مدیریت تجهیزات";

}



@*<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">ویرایش مشتری </h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">
        <a href="#" target="_blank" class="btn btn-danger pull-left m-r-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">خرید قالب</a>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li><a href="/Company/Index">نمایش مشتری</a></li>
            <li class="active">ویرایش مشتری </li>
        </ol>
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            @using (Ajax.BeginForm("Edit", "EquipmentProperties", null, new AjaxOptions { Url = "/EquipmentProperties/Edit", HttpMethod = "Post", OnSuccess = "editSuccess" }, new { @enctype = "multipart/form-data", id = "form", @class = "" }))
            {
                @Html.HiddenFor(m => m.Id)

                @Html.AntiForgeryToken()


            <div class="row">


                <div class="col-md-6">
                    <div class="form-group m-b-40">
                        @Html.LabelFor(model => model.Unit, new { @class = "col-sm-4 col-form-label " })
                        @Html.DropDownListFor(model => model.Unit, Model.Units, new { @class = "select2 form-control" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-b-40">

                        @Html.LabelFor(model => model.Value, new { @class = "col-sm-4 col-form-label " })
                        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", placeholder = "مقدار را وارد نمایید.", @type = "number" })

                    </div>
                </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-rounded"> <i class="fa fa-check"></i> ویرایش</button>
                    <a class="btn btn-inverse waves-effect waves-light btn-rounded" href="javascript:void()" onclick="bootboxHideAll()"><i class="fa fa-times"></i> بازگشت</a>

                </div>

                }

            </div>
            </div>
</div>
<script>
    $(document).ready(function () {

        $(".select2").select2();
    });



</script>

