@model Store.Models.Stores.StoreRoom.OutputMaterialModel
@{
    ViewBag.Title = "ویرایش تجهیزات خروجی";

}




<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">فرم ویرایش  خروجی انبار</h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">

        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li><a href="/OutputMaterial/Index">نمایش لیست خروجی ها  </a></li>
            <li class="active">ویرایش خروجی </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            @using (Ajax.BeginForm("Edit", "OutputMaterial", null, new AjaxOptions { Url = "/OutputMaterial/Edit", HttpMethod = "Post", OnSuccess = "editSuccess" }, new { @enctype = "multipart/form-data", id = "form", @class = "" }))
            {
                @Html.HiddenFor(m => m.Id)

                @Html.AntiForgeryToken()

                @Html.Partial("_CreateorUpdate", Model)

                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-rounded"> <i class="fa fa-check"></i> ویرایش</button>
                    <a class="btn btn-inverse waves-effect waves-light btn-rounded" href="/OutputMaterial/Index"><i class="fa fa-times"></i> بازگشت</a>

                </div>

            }

        </div>
    </div>
</div>


<script>
        $(document).ready(function () {

            var equipSelected = @Html.Raw(Json.Encode(Model.EquipmentId));

            $("#EquipmentId").val(equipSelected).trigger("change");

            var count = @Html.Raw(Json.Encode(Model.Count));
            
            for (var i = 0; i < equipSelected.length; i++) {
                $('#ModelCount' + equipSelected[i]).val(count[i]);
            }

        });
</script>