@model Store.Models.Stores.StoreRoom.EquipmentModel


<div class="row">
    <div class="col-md-4">
        <div class="form-group m-b-40">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-6 col-form-label " })
            @Html.TextBoxFor(model => model.Title, new { required = "عنوان الزامی است", @class = "form-control", placeholder = "عنوان  را وارد نمایید." })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group m-b-40">

            @Html.LabelFor(model => model.EquipmentType, new { @class = "col-sm-12 col-form-label " })
            @Html.DropDownListFor(model => model.EquipmentType, Model.EquipmentTypes, new { @class = "select2 form-control" })
            @Html.ValidationMessageFor(model => model.EquipmentType)
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group m-b-40">

            @Html.LabelFor(model => model.Weight, new { @class = "col-sm-12 col-form-label " })
            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.Weight)

        </div>
    </div>

</div>
<div class="row">


    <div class="col-md-4">
        <div class="form-group m-b-40">

            @Html.LabelFor(model => model.MinimumInventoryPercentage, new { @class = "col-sm-12 col-form-label " })
            @Html.TextBoxFor(model => model.MinimumInventoryPercentage, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.MinimumInventoryPercentage)
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group m-b-40">

            @Html.LabelFor(model => model.MinimumInventory, new { @class = "col-sm-12 col-form-label " })
            @Html.TextBoxFor(model => model.MinimumInventory, new { @class = "form-control", @type = "number", @min = "0" })
            @Html.ValidationMessageFor(model => model.MinimumInventory)
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group m-b-40">

            @Html.LabelFor(model => model.Image, new { @class = "col-sm-12 col-form-label " })
            @Html.EditorFor(model => model.Image, new { @class = "form-control" })

        </div>
    </div>

</div>



<script>
    $(document).ready(function () {
        $(".select2").select2('destroy');
        $(".select2").select2();
    });



</script>