@model Store.Models.Stores.StoreRoom.ScaffoldModel
@{

    string jsonObject = Newtonsoft.Json.JsonConvert.SerializeObject(Model.EquipmentList);

}

@*داربست مهاری مستقل تک دیواره*@

<script src="~/scripts/CommonScripts/material.js"></script>
<div class="white-box">
    <hr />
    @using (Html.BeginForm("CreateSingleWallChart", "Scaffolding", FormMethod.Post, new { target = "_blank" }))
    {
        <div class="row col-md-12">
            <div class="col-md-3">
                <div class="">
                    <label class="col-sm-12 col-form-label">ارتفاع</label>
                    <input type="text" class="form-control" id="height" name="height" value="0" min="0" />
                    @Html.TextBoxFor(d => d.Height)
                    @Html.ValidationMessageFor(d => d.Height)
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <label class="col-sm-6 col-form-label">طول</label>
                    <input type="text" class="form-control" id="length" name="length" value="0" min="0" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="">

                    <label class="col-sm-12 col-form-label">تعداد عرض</label>
                    <input type="text" class="form-control" id="widthCount" name="widthCount" value="0" min="0" />

                </div>

            </div>
            <div class="col-md-3">

                <div class="">


                    <label class="col-sm-12 col-form-label">تعداد ارتفاع سطح دسترسی</label>
                    <input type="text" class="form-control" id="heightCount" name="heightCoun" value="0" min="0" />

                </div>

            </div>

        </div>

        <h3 class="box-title m-t-40">عرض</h3>
        <hr>

        <div class="widths col-md-12 row">

        </div>
        <h3 class="box-title m-t-40">ارتفاع سطح دسترسی</h3>
        <hr>
        <div class="heights col-md-12 row">

        </div>
        <br />
        <div class="btn-group m-b-20" style="width:100%;">
            <a class="btn btn-success btn-outline waves-effect waves-light" role="button" style="width:100%;" onclick="return clickedTheButton()">محاسبه متریال</a>
            <button class="btn btn-info btn-outline waves-effect waves-light" type="submit" style="width:100%;">رسم نمودار</button>
            <button class="btn btn-info btn-outline waves-effect waves-light" type="submit" style="width:100%;">تخمین نیروی انسانی </button>
            <a class="btn btn-warning btn-outline waves-effect waves-light" role="button" style="width:100%;" target="_blank" href="/SafetyChecklist/Create?scaffoldingId=@Model.Id">تگ ایمنی</a>
        </div>
        @*<div class="card">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link btn btn-block btn-danger waves-effect" data-toggle="pill" href="#material" onclick="return clickedTheButton()">محاسبه متریال</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-info" type="submit">رسم نمودار و تخمین نیروی انسانی</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning" target="_blank" href="/SafetyChecklist/Create?scaffoldingId=@Model.Id">ایمنی</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">*@

        <div class="card-block" id="material">
            <div id="materialPrint">

                <div class="card card-outline-primary text-dark">
                    <div class="card-block">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                اطلاعات دستورکار
                                <div class="pull-left"><a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a></div>
                            </div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <table id="mainTable" class="table editable-table table-bordered table-striped m-b-0" style="cursor: pointer;">
                                        <thead>
                                            <tr>
                                                <th width="30%">شماره درخواست</th>
                                                <th width="30%">تگ</th>
                                                <th width="30%">تاریخ</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td tabindex="1">@Model.WorkOrderModel.Title</td>
                                                <td tabindex="1">@Model.WorkOrderModel.Tag</td>
                                                <td tabindex="1">@Model.WorkOrderModel.ShamsiDate</td>
                                            </tr>
                                            <tr>
                                                <th>شرکت</th>
                                                <th>واحد</th>
                                                <th>سکشن</th>
                                            </tr>
                                            <tr>
                                                <td tabindex="1">@Model.WorkOrderModel.CompanyName</td>
                                                <td tabindex="1">@Model.WorkOrderModel.UnitName</td>
                                                <td tabindex="1">@Model.WorkOrderModel.SectionName</td>
                                            </tr>

                                        </tbody>

                                    </table>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <ul class="list-group" id="myres"></ul>
            </div>

            <button class="btn btn-primary btn-rounded waves-effect waves-light" onclick="printPage('materialPrint');" type="button"><span class="btn-label"><i class="fa fa-print"></i></span>چاپ واحد انبار</button>

            <div class="clearfix"></div>
        </div>



        @*</div>*@
    }
</div>

<script>
    $(document).ready(function () {
        $(".select2").select2("destroy");
        $(".select2").select2();
        $("#material").hide();
        $("#widthCount").keyup(function () {

            if (parseInt($(this).val()) > 10) {

                $('.alert-danger b').html();
                $('.alert-danger b').html("تعداد عرض نمی تواند بزرگتر از 10 باشد.");
                $('.alert-success').hide();
                $('.alert-warning').hide();
                $(".alert-danger").fadeToggle(350);
            }
            else {
                addInput($(this).val(), true);
            }

        });
        $("#heightCount").keyup(function () {

            if (parseInt($(this).val()) > Math.floor(parseInt($("#height").val()) / 1.8)) {


                $('.alert-danger b').html();
                $('.alert-danger b').html("تعداد سطح دسترسی به تعداد ارتفاع داربست می تواند باشد.");
                $('.alert-success').hide();
                $('.alert-warning').hide();
                $('.alert-danger').hide();
                $(".alert-danger").fadeToggle(350);
                $(".heights").html('');
                $(this).val(0);
            }
            else {
                addInput($(this).val(), false);
            }

        });
    });
    function addInput(count, isWidth) {

        var button = $('#append');

        if (isWidth === true) {
            $(".widths").html('');
            for (var i = 1; i <= count; i++) {
                $(".widths").append('<div class="col-md-4">\
                                <label class="col-form-label"> عرض ' + i + '</label>\
                      <select class="form-control" id=' + "R" + i + '  name="widths[]" ><option value="0.6">0.6</option><option value="0.9">0.9</option><option value="1.2">1.2</option>\
               </div>\
                     ');

            }
        }

        else {
            $(".heights").html('');
            for (var k = 1; k <= count; k++) {

                $(".heights").append('<div class="col-md-4">\
                            <label class= "col-form-label" > ارتفاع سطح دسترسی '+ k + '</label>\
                            <input class="form-control" id=' + "M" + k + ' type="text" name="accessLevelHeight[]" >\
        </div>\
                            <div class="col-md-4">\
                            <label class="col-form-label">عرض سطح دسترسی '+ k + '</label>\
                                    <input class="form-control" id=' + "F" + k + ' type="text" name="accessLevelWidth[]" >\
        </div>\
                            <div class="col-md-4">\
                             <label class="col-form-label">حالت سطح دسترسی '+ k + ' بین 1 تا 4</label>\
                                                <select class="form-control" id=' + "B" + k + '  name="accessLevelMode[]" ><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>\
        </div>\
                            ');

            }
        }

    }


        var arrayOfArrays;
        $(document).ready(function () {
          arrayOfArrays = @Html.Raw(jsonObject);
        });
        function clickedTheButton() {


            //var widths = document.getElementById('width').value;
            //var sum = 0;
            //for (var i = 1; i <= widths; i++) {
            //    alert($("#R"+i+"").val());
            //    sum += parseInt($("#R"+i+"").val());
            //}
            //sum += parseInt($("#tool").val());
            //sum += parseInt($("#height").val());
            //alert(Math.ceil(sum / 40));
            $("#material").hide();
            $("#myres").html('');
            var no1 = document.getElementById('height').value;
            var no2 = document.getElementById('length').value;
            var no3 = document.getElementById('widthCount').value;

            //تعداد ارتفاع سطح دسترسی
            var ertefa = document.getElementById('heightCount').value;
            var faseleDRCH = [];

            var tedadFaseleCH = parseInt(no3);
            for (let i = 1; i <= tedadFaseleCH; i++) {

                var mFaseleCH = document.getElementById("R" + i).value;
                faseleDRCH[i] = parseInt(mFaseleCH);

            }
            var jam = 0;
            for (let i = 1; i < faseleDRCH.length; i++) {
                jam = faseleDRCH[i] + jam;
            }
            var halatSD1 = [];
            var widthMSD1 = [];
            var heightMSD1 = [];
            for (var i = 0; i < ertefa; i++) {//4
                heightMSD1[i] = document.getElementById("M" + (i + 1)).value;
                widthMSD1[i] = document.getElementById("F" + (i + 1)).value;
                halatSD1[i] = document.getElementById("B" + (i + 1)).value;
                //widthCSD1[i] = widthMSD1[i] * 100;
                //heightCSD1[i] = heightMSD1[i] * 100;
                //tedadErtefaSD1[i] = parseInt(heightCSD1[i] / 180);
                //tedadTolSD1[i] = parseInt(widthCSD1[i] / 240);

            }


            var x = getdar(no1, no2, no3, jam, heightMSD1, widthMSD1, halatSD1, ertefa, arrayOfArrays);
            for (var i = 0; i < x.length; i++) {

                $("#myres").append('<li class="list-group-item node-treeview6" data-nodeid="0" style="color:undefined;background-color:undefined;"><span class="icon node-icon glyphicon glyphicon-wrench"></span>&nbsp;' + x[i][0] + '<span class="badge">' + x[i][1]+'</span></li>');

            }
            $("#material").slideDown("slow", function () {
                // Animation complete.
            });
            //document.getElementById("myres").innerHTML = x;

    }

    function printPage(id)
    {

        var DocumentContainer = document.getElementById(id);
        var WindowObject = window.open('', 'PrintWindow', 'width=1000,height=1000,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes');


        WindowObject.document.writeln('<!DOCTYPE html>');
        WindowObject.document.writeln('<html lang="fa"><head><title></title>');
        WindowObject.document.writeln('<link rel="stylesheet" type="text/css" href="http://localhost:1839/Content/Theme/assets/plugins/bootstrap/dist/css/bootstrap.min.css">');
        WindowObject.document.writeln('<link rel="stylesheet" type="text/css" href="http://localhost:1839/Content/Theme/assets/plugins/bootstrap-extension/css/bootstrap-extension.css">');
        WindowObject.document.writeln('<link rel="stylesheet" type="text/css" href="http://localhost:1839/Content/Theme/assets/css/style.css">');
        WindowObject.document.writeln('<link rel="stylesheet" type="text/css" href="http://localhost:1839/Content/Theme/assets/css/colors/default.css">');
        WindowObject.document.writeln('</head><body>')

        WindowObject.document.writeln(DocumentContainer.innerHTML);

        WindowObject.document.writeln('</body></html>');

        WindowObject.document.close();
        WindowObject.focus();
        //WindowObject.print();
        //WindowObject.close();
   //var html="<html>";
   //html+= document.getElementById(id).innerHTML;

   //html+="</html>";

   //var printWin = window.open('','','left=0,top=0,width=300,height=300,toolbar=0,scrollbars=0,status  =0');
   //printWin.document.write(html);
   //printWin.document.close();
   //printWin.focus();
   //printWin.print();
   //printWin.close();
        }


</script>


